<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  
  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <script src="//code.jquery.com/jquery-latest.min.js"></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
  
   
        
    <!--     Fonts and icons     -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    
    
  
  

</head>

<%= yield %>

</html>
